# PostgreSQL Database Configuration
DB_USER=your_postgres_username
DB_HOST=localhost
DB_NAME=your_database_name
DB_PASSWORD=your_database_password
DB_PORT=5432

# OR use a full database connection URL

#DATABASE_URL=postgres://postgres:postgre@localhost:5432/seminar_hall
DATABASE_URL=postgres://seminar_hall_user:1W08KYvKQRytBGWYIANqS1LepD96uWzJ@dpg-d2a0018gjchc73e3fgrg-a/seminar_hall



# JWT Secret Key
JWT_SECRET=your_jwt_secret_key

# Application Port
PORT=5000
